In [6]:
# Install necessary libraries
#install.packages("tidyverse", dependencies = TRUE)
#install.packages("ggthemes", dependencies = TRUE)

In [7]:
suppressPackageStartupMessages({
  library(tidyverse)
  library(ggthemes)
})

In [12]:
data <- read_csv("vgsales.csv", show_col_types=FALSE)

In [9]:
head(data)

  Rank Name                     Platform Year Genre        Publisher NA_Sales
1 1    Wii Sports               Wii      2006 Sports       Nintendo  41.49
2 2    Super Mario Bros.        NES      1985 Platform     Nintendo  29.08
3 3    Mario Kart Wii           Wii      2008 Racing       Nintendo  15.85
4 4    Wii Sports Resort        Wii      2009 Sports       Nintendo  15.75
5 5    Pokemon Red/Pokemon Blue GB       1996 Role-Playing Nintendo  11.27
6 6    Tetris                   GB       1989 Puzzle       Nintendo  23.20
  EU_Sales JP_Sales Other_Sales Global_Sales
1 29.02     3.77    8.46        82.74
2  3.58     6.81    0.77        40.24
3 12.88     3.79    3.31        35.82
4 11.01     3.28    2.96        33.00
5  8.89    10.22    1.00        31.37
6  2.26     4.22    0.58        30.26

In [18]:
# Convert year to Int
data <- data %>%
    mutate(Year=as.numeric(Year))

head(data$Year)

[1] 0 0 0 0 0 0

In [20]:
# Check for missing values
colSums(is.na(data))

        Rank         Name     Platform         Year        Genre    Publisher
           0            0            0            0            0            0
    NA_Sales     EU_Sales     JP_Sales  Other_Sales Global_Sales
           0            0            0            0            0